// Colors
$cinnabar: #E43D40;
$coral: #F37970;
$blood-red: #F85C70;
$rose-quartz: #FABEC0;

// Greys and whites
$c-text: rgb(80, 84, 87); // HEX #505457
$c-light-text: rgb(127, 138, 142); // HEX #7f8a8e
$c-dark-text: rgb(73, 77, 81); // HEX #494d51

$black-olive: #333;
$white: #fefefe;
$grey: #f9f9f9;
